@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: radial-gradient(circle at 1px 1px, #333 1px, transparent 0);
    background-size: 40px 40px;
    -webkit-user-select: text;
    user-select: text;
  }

  ::selection {
    background-color: #f27405;
    color: white;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
  }

  input:focus,
  textarea:focus {
    outline: none !important;
    border-bottom-color: #f27405 !important;
  }
}

@layer components {
  .hero-gradient {
    background: linear-gradient(180deg, rgba(19,19,19,0.4) 0%, rgba(19,19,19,1) 100%);
  }

  .rugged-border {
    border-left: 4px solid #f27405;
  }

  .hard-shadow {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5);
  }

  .service-card-hover:hover {
    border-left: 4px solid #f27405;
    background-color: #201f1f;
    transform: translateY(-4px);
  }
}
